<p style="color: green"><%= notice %></p>
<div class="main_container">
  <h1>All Users</h1>

  <div id="users" class="users">
    <% @users.each do |user| %>
      <%= render 'shared/user', user: user%>
    <% end %>
  </div>
</div>