<p style="color: green"><%= notice %></p>

<h1>All Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <h2>User name:<%= user.name %></h2>
    <div>Number of Posts: <%= user.post_counter %></div>
  <% end %>
</div>
